{% extends 'catalog/home.html' %}
{% block content %}


<div class="container col-4">
    <div class="card text-center">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <h5 class="card-title text-center">Удалить? {{ object.title }}</h5>
                {% csrf_token %}
                <div class="card-body text-center">
                    <button type="submit" class="card-text btn btn-success">Да</button>
                    <a class="card-text btn btn-danger" href="{% url 'blog:blog_list' %}" role="button">Нет</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


